@font-face {
  font-family: 'Sarabun-Regular';
  src: url('../../public/Sarabun-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Sarabun-Bold';
  src: url('../../public/Sarabun-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Sarabun-Light';
  src: url('../../public/Sarabun-Light.ttf');
  font-display: swap;
}
